# See Data

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('../data/BBCA_historical_data.csv')
df

,Price,Close,High,Low,Open,Volume
0,Ticker,BBCA,BBCA,BBCA,BBCA,BBCA
1,Date,NaN,NaN,NaN,NaN,NaN
2,2020-01-02,45.507198333740234,45.54208391415012,45.29788817815299,45.52464112394518,75200
3,2020-01-03,45.40254211425781,45.48975273302229,45.280442590366945,45.367656536003274,85200
4,2020-01-06,45.559532165527344,45.59441442324647,45.22812576565222,45.22812576565222,72550
...,...,...,...,...,...,...
1394,2025-07-18,81.31999969482422,81.94999694824219,81.18000030517578,81.94999694824219,149400
1395,2025-07-21,81.45999908447266,81.9000015258789,81.44000244140625,81.62000274658203,224800
1396,2025-07-22,82.12000274658203,82.1500015258789,81.44999694824219,81.52999877929688,191700
1397,2025-07-23,82.33000183105469,82.55000305175781,82.05000305175781,82.33999633789062,305900
1398,2025-07-24,81.91000366210938,82.33000183105469,81.8499984741211,81.9000015258789,196700

In [11]:
clean_df = df.copy()
clean_df.columns = ['Date', 'Close', 'High', 'Low', 'Open', 'Volume']
clean_df = clean_df.iloc[2:]
clean_df

,Date,Close,High,Low,Open,Volume
2,2020-01-02,45.507198333740234,45.54208391415012,45.29788817815299,45.52464112394518,75200
3,2020-01-03,45.40254211425781,45.48975273302229,45.280442590366945,45.367656536003274,85200
4,2020-01-06,45.559532165527344,45.59441442324647,45.22812576565222,45.22812576565222,72550
5,2020-01-07,45.57697296142578,45.61185854703574,45.41999447992608,45.41999447992608,113700
6,2020-01-08,45.559532165527344,45.733953434740336,45.52464658093576,45.66418559242963,72900
...,...,...,...,...,...,...
1394,2025-07-18,81.31999969482422,81.94999694824219,81.18000030517578,81.94999694824219,149400
1395,2025-07-21,81.45999908447266,81.9000015258789,81.44000244140625,81.62000274658203,224800
1396,2025-07-22,82.12000274658203,82.1500015258789,81.44999694824219,81.52999877929688,191700
1397,2025-07-23,82.33000183105469,82.55000305175781,82.05000305175781,82.33999633789062,305900
1398,2025-07-24,81.91000366210938,82.33000183105469,81.8499984741211,81.9000015258789,196700

In [12]:
clean_df.isnull().sum()

Date      0
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [13]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 2 to 1398
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1397 non-null   object
 1   Close   1397 non-null   object
 2   High    1397 non-null   object
 3   Low     1397 non-null   object
 4   Open    1397 non-null   object
 5   Volume  1397 non-null   object
dtypes: object(6)
memory usage: 65.6+ KB

In [14]:
num_cols = ['Close', 'High', 'Low', 'Open', 'Volume']
for col in num_cols:
    clean_df[col] = clean_df[col].astype(float)

In [15]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1397 entries, 2 to 1398
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1397 non-null   object
 1   Close   1397 non-null   float64
 2   High    1397 non-null   float64
 3   Low     1397 non-null   float64
 4   Open    1397 non-null   float64
 5   Volume  1397 non-null   float64
dtypes: float64(5), object(1)
memory usage: 65.6+ KB

In [16]:
clean_df.to_csv('../data/clean_BBCA_historical_data.csv', index=False)